.animated {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes showEffectKeyFrame {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes showEffectKeyFrame {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.showEffect {
	-webkit-animation-name: showEffectKeyFrame;
	-moz-animation-name: showEffectKeyFrame;
	-o-animation-name: showEffectKeyFrame;
	animation-name: showEffectKeyFrame;
}

@-webkit-keyframes hideEffectKeyFrame {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
}

@keyframes hideEffectKeyFrame {

	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px);
	}
}

.hideEffect {
	-webkit-animation-name: hideEffectKeyFrame;
	-moz-animation-name: hideEffectKeyFrame;
	-o-animation-name: hideEffectKeyFrame;
	animation-name: hideEffectKeyFrame;
}

@-webkit-keyframes slideDownFrame {
	0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block !important; 
        opacity: 0;
    }

    100% {
        display: block !important; 
        opacity: 1;
    }
}

@keyframes slideDownFrame {

	0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block !important; 
        opacity: 0;
    }

    100% {
        display: block !important; 
        opacity: 1;
    }

}

.slideDown {
	-webkit-animation-name: slideDownFrame;
	-moz-animation-name: slideDownFrame;
	-o-animation-name: slideDownFrame;
	animation-name: slideDownFrame;
}
