#header 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px 40px 0px;
  z-index: 1;
}

.sh-320  #header {  padding: 10px 15px 0px;  }
.sh-480  #header {  padding: 20px 30px 0px;  }
.sh-768  #header {  padding: 35px 40px 0px;  }
.sh-1080 #header {  }
.sh-1600 #header {  }

#header-title
{
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.sh-320   #header-title {  font-size: 12px; position: static; }
.sh-480   #header-title {  font-size: 18px;  }
.sh-768   #header-title {  font-size: 24px;  }
.sh-1080  #header-title {  font-size: 24px;  }
.sh-1600  #header-title {  font-size: 24px;  }

#header-subtitle
{
  position: absolute;
  top: 80%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.sh-320   #header-subtitle {  font-size: 12px; position: static; }
.sh-480   #header-subtitle {  font-size: 18px;  }
.sh-768   #header-subtitle {  font-size: 24px;  }
.sh-1080  #header-subtitle {  font-size: 24px;  }
.sh-1600  #header-subtitle {  font-size: 24px;  }

#header-languages
{
  float: right;
  list-style: none;
  list-style-image: none;
}

#header-languages > li
{
  float: left;
}

#header-languages > li > a
{
  cursor: pointer;
  display: inline-block;
  padding: 12px;
  font-size: 14px;
  text-decoration: none;
  background: #11768B;
}

#header-languages > .separator
{
  padding: 12px 0px;
  border-left: 1px solid;
  border-left-color: #0A5261;
}

.sh-320  #header-languages > .separator {  padding: 17px 0;  }
.sh-480  #header-languages > .separator {  padding: 20px 0;  }
.sh-768  #header-languages > .separator {  padding: 22px 0;  }
.sh-1080 #header-languages > .separator {  padding: 21px 0 28px;  }
.sh-1600 #header-languages > .separator {  padding: 28px 0;  }

#header-languages .active a,
#header-languages a:hover
{
  background: #04687D;
}

#header-languages a:active
{
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sh-320  #header-languages a {  font-size: 14px; padding: 7px;  }
.sh-480  #header-languages a {  font-size: 14px; padding: 10px;  }
.sh-768  #header-languages a {  font-size: 14px; padding: 12px;  }
.sh-1080 #header-languages a {  font-size: 14px; padding: 15px;  }
.sh-1600 #header-languages a {  font-size: 16px; padding: 18px;  }

#header-languages li.active a
{
  color: #D6D6D6;
}

.top-nav {
  position: relative;
}

.top-nav-menu {
  position: absolute;
  left: -306px;
  top: 49px;
  width: 460px;
  padding: 10px 10px 10px 10px;
  background: #1f1f1f;
  list-style-image: none;
  list-style-type: none;
  display: none;
  opacity: 0;
}

.top-nav.active .top-nav-menu{
  display: block;
  opacity: 0;
  -webkit-animation-name: slideDownFrame;
  -moz-animation-name: slideDownFrame;
  -o-animation-name: slideDownFrame;
  animation-name: slideDownFrame;
}

.top-nav-menu > li {
  position: relative;
  width: 200px;
  height: 128px;
  margin: 10px;
  float: left;
  overflow: hidden;
}

a.top-nav-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 0;
  background: none !important;
  padding: 0 !important;
}

.top-nav-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.default-theme  .top-nav-label { background-color: #11768B; }
.khaki-theme    .top-nav-label { background-color: #8F8F63; }
.greey-theme    .top-nav-label { background-color: #34373B; }
.red-theme      .top-nav-label { background-color: #A92F27; }
.green-theme    .top-nav-label { background-color: #60C2A2; }

.top-nav-img {
  width: 100%;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.top-nav-menu > li:hover .top-nav-img {
  -ms-transform: scale(1.11, 1.11);; /* IE 9 */
  -webkit-transform: scale(1.11, 1.11);; /* Chrome, Safari, Opera */
  transform: scale(1.11, 1.11);;
}

li.top-nav-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 338px;
  overflow: visible;
}

li.top-nav-arrow:after, li.top-nav-arrow:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

li.top-nav-arrow:after {
  border-color: rgba(118, 118, 118, 0);
  border-bottom-color: #1f1f1f;
  border-width: 5px;
  margin-left: -20px;
}
li.top-nav-arrow:before {
  border-color: rgba(31, 31, 31, 0);
  border-bottom-color: #1f1f1f;
  border-width: 5px;
  margin-left: -21px;
}
