.default-theme {}

.default-theme #header-languages a { background-color: #11768B; }
.default-theme #header-languages .active a, .default-theme #header-languages a:hover { background-color: #04687D; }
.default-theme .gr-label { background-color: #11768B; }
.default-theme .gr-item { background-color: #11768B; }
.default-theme .gr-item .desc { background-color: #11768B; }
.default-theme .modal .close { background-color: #11768B; }
.default-theme .modal .close:hover, .default-theme .modal .close:active { background-color: #04687D; }
.default-theme .rslides_nav:hover { background-color: #11768B; }
.default-theme article blockquote { border-left: 2px solid #11768B; }
.default-theme #header-languages .separator { border-left-color: #256774; }


.khaki-theme {}
.khaki-theme #header-languages a { background-color: #8F8F63; }
.khaki-theme #header-languages .active a, .khaki-theme #header-languages a:hover { background-color: #6D6D45; }
.khaki-theme .gr-label { background-color: #8F8F63; }
.khaki-theme .gr-item { background-color: #8F8F63; }
.khaki-theme .gr-item .desc { background-color: #8F8F63; }
.khaki-theme .modal .close { background-color: #8F8F63; }
.khaki-theme .modal .close:hover, .khaki-theme .modal .close:active { background-color: #6D6D45; }
.khaki-theme .rslides_nav:hover { background-color: #8F8F63; }
.khaki-theme article blockquote { border-left: 2px solid #8F8F63; }
.khaki-theme #header-languages .separator { border-left-color: #5C5C30; }


.greey-theme {}
.greey-theme #header-languages a { background-color: #34373B; }
.greey-theme #header-languages .active a, .greey-them #header-languages a:hover { background-color: #0F1113; }
.greey-theme .gr-label { background-color: #34373B; }
.greey-theme .gr-item { background-color: #34373B; }
.greey-theme .gr-item .desc { background-color: #34373B; }
.greey-theme .modal .close { background-color: #34373B; }
.greey-theme .modal .close:hover, .greey-theme .modal .close:active { background-color: #0F1113; }
.greey-theme .rslides_nav:hover { background-color: #34373B; }
.greey-theme article blockquote { border-left: 2px solid #34373B; }
.greey-theme #header-languages .separator { border-left-color: #151A21; }

.red-theme {}

.red-theme #header-languages a { background-color: #A92F27; }
.red-theme #header-languages .active a, .red-them #header-languages a:hover { background-color: #8A1A13; }
.red-theme .gr-label { background-color: #A92F27; }
.red-theme .gr-item { background-color: #A92F27; }
.red-theme .gr-item .desc { background-color: #A92F27; }
.red-theme .modal .close { background-color: #A92F27; }
.red-theme .modal .close:hover, .red-theme .modal .close:active { background-color: #8A1A13; }
.red-theme .rslides_nav:hover { background-color: #A92F27; }
.red-theme article blockquote { border-left: 2px solid #A92F27; }
.red-theme #header-languages .separator { border-left-color: #992119; }

.green-theme {}

.green-theme #header-languages a { background-color: #60C2A2; }
.green-theme #header-languages .active a, .green-them #header-languages a:hover { background-color: #2A9471; }
.green-theme .gr-label { background-color: #60C2A2; }
.green-theme .gr-item { background-color: #60C2A2; }
.green-theme .gr-item .desc { background-color: #60C2A2; }
.green-theme .modal .close { background-color: #60C2A2; }
.green-theme .modal .close:hover, .green-theme .modal .close:active { background-color: #2A9471; }
.green-theme .rslides_nav:hover { background-color: #60C2A2; }
.green-theme article blockquote { border-left: 2px solid #60C2A2; }
.green-theme #header-languages .separator { border-left-color: #409177; }
