.bg-multy #header-languages li 
{
	background: #8F8F63;
}

.bg-multy #header-languages li.active, 
  .bg-multy #header-languages li:hover, 
  .bg-multy #header-languages li:active {
  	background: #6D6D45;
}

.bg-multy #content {
	border-top: 2px solid #8F8F63;
}

.bg-multy #wrapper p.big-title {
	background: #8F8F63;
}

.bg-multy #wrapper > li li span {
	background: #8F8F63;
}

.bg-multy #wrapper > li li {
	background: #8F8F63;
}

.bg-multy #nav-prev,
  .bg-multy #nav-next {
	background-image: url(/assets/img/multi-arrow.png);
}