.grid-wrapper
{
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 0 40px 20px;
}

.grid-scroll-wrapper
{
  overflow: hidden;
  display: block;
  padding-bottom: 15px;
}

/* Custom value to supporting resizing */
.sh-320  .grid-wrapper { top: 50px; padding-left: 15px; padding-right: 15px; }
.sh-480  .grid-wrapper {}
.sh-768  .grid-wrapper {}
.sh-1080 .grid-wrapper {}
.sh-1600 .grid-wrapper {}

.grid
{
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.gr-box
{
  position: relative;
  display: block;
  float: left;
  padding: 0px;
  padding-top: 40px;
}

.gr-title
{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 10px 0px 0px 0px;
}

.rg-label
{
  position: absolute;
  bottom: 50px;
  left: 0px;
  display: block;
  padding: 10px 0px 0px 0px;
  z-index: 11;
}

.gr-item
{
  position: relative;
  display: inline-block;
  float: left;
  margin: 0px 0px 0px 0px;

}

.gr-item img
{
  max-width: 100%;
  height: auto;
}

.gr-item a
{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
}

.gr-item .desc
{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 7px;
  background: #11768B;
  text-transform: uppercase;
  white-space: normal;
}

.gr-item.large
{
  width: 651px;
  height: 400px;
}

.gr-item.half
{
  width: 250px;
  height: 200px;
}

.gr-item.third
{
  width: 216px;
  height: 133px;
}

.gr-item.eol
{
  clear: both;
}


