.default-theme {}

.default-theme #header-languages li { background-color: #11768B; }
.default-theme #header-languages li.active, .default-theme #header-languages li:hover, .default-theme #header-languages li:active { background-color: #04687D; }
.default-theme .gr-label { background-color: #11768B; }
.default-theme .gr-item { background-color: #11768B; }
.default-theme .gr-item .desc { background-color: #11768B; }
.default-theme .modal .close { background-color: #11768B; }
.default-theme .modal .close:hover, .default-theme .modal .close:active { background-color: #04687D; }
.default-theme .rslides_nav:hover { background-color: #11768B; }


.khaki-theme {}
.khaki-theme #header-languages li { background-color: #8F8F63; }
.khaki-theme #header-languages li.active, .khaki-theme #header-languages li:hover, .khaki-theme #header-languages li:active { background-color: #6D6D45; }
.khaki-theme .gr-label { background-color: #8F8F63; }
.khaki-theme .gr-item { background-color: #8F8F63; }
.khaki-theme .gr-item .desc { background-color: #8F8F63; }
.khaki-theme .modal .close { background-color: #8F8F63; }
.khaki-theme .modal .close:hover, .khaki-theme .modal .close:active { background-color: #6D6D45; }
.khaki-theme .rslides_nav:hover { background-color: #8F8F63; }


.greey-theme {}
.greey-theme #header-languages li { background-color: #34373B; }
.greey-theme #header-languages li.active, .greey-them #header-languages li:hover, .greey-theme #header-languages li:active { background-color: #0F1113; }
.greey-theme .gr-label { background-color: #34373B; }
.greey-theme .gr-item { background-color: #34373B; }
.greey-theme .gr-item .desc { background-color: #34373B; }
.greey-theme .modal .close { background-color: #34373B; }
.greey-theme .modal .close:hover, .greey-theme .modal .close:active { background-color: #0F1113; }
.greey-theme .rslides_nav:hover { background-color: #34373B; }

.red-theme {}

.red-theme #header-languages li { background-color: #A92F27; }
.red-theme #header-languages li.active, .red-them #header-languages li:hover, .red-theme #header-languages li:active { background-color: #8A1A13; }
.red-theme .gr-label { background-color: #A92F27; }
.red-theme .gr-item { background-color: #A92F27; }
.red-theme .gr-item .desc { background-color: #A92F27; }
.red-theme .modal .close { background-color: #A92F27; }
.red-theme .modal .close:hover, .red-theme .modal .close:active { background-color: #8A1A13; }
.red-theme .rslides_nav:hover { background-color: #A92F27; }

.green-theme {}

.green-theme #header-languages li { background-color: #60C2A2; }
.green-theme #header-languages li.active, .green-them #header-languages li:hover, .green-theme #header-languages li:active { background-color: #2A9471; }
.green-theme .gr-label { background-color: #60C2A2; }
.green-theme .gr-item { background-color: #60C2A2; }
.green-theme .gr-item .desc { background-color: #60C2A2; }
.green-theme .modal .close { background-color: #60C2A2; }
.green-theme .modal .close:hover, .green-theme .modal .close:active { background-color: #2A9471; }
.green-theme .rslides_nav:hover { background-color: #60C2A2; }
