/*@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {*/

@media (min-width: 1580px) {
	#content{
		padding-top: 10px;
		height: 585px;
	}

	#content .carousel {
		height: 845px;
	}

	#wrapper > li.one {
		/*width: 760px;*/
		width: 893px;
		margin-right: 63px;
	}

	#wrapper > li.two {
		width: 283px;
		margin-right: 26px; /* 63 - 37 */
	}

	#wrapper > li.three {
		width: 283px;
		margin-right: 26px; /* 63 - 37 */
	}

	#wrapper > li.four {
		width: 618px;
		margin-right: 63px;
	}

	#wrapper > li.four li {
		/*clear: both;
		display: block;*/
	}

	#wrapper > li.four li:last-child {
		/*float: right;*/
	}
}

@media (max-width: 800px) and (min-width: 480px) {
	#content{
		padding-top: 10px;
		height: 475px;
	}

	#content .carousel {
		height: 375px;
	}

	#wrapper > li.one {
		width: 760px;
		margin-right: 63px;
	}

	#wrapper > li.one .title {
		display: none;
	}

	#wrapper > li.simple-one {
		padding-top: 100px;
	}

	#wrapper > li.two {
		width: 566px;
		margin-right: 26px; /* 63 - 37 */
		padding-top: 100px;
	}

	#wrapper > li.three {
		width: 849px;
		margin-right: 26px; /* 63 - 37 */
		padding-top: 100px;
	}

	#wrapper > li.four {
		width: 1132px;
		margin-right: 26px;
		padding-top: 100px;
	}
}



@media (max-width: 480px) {
	
	.mfp-content {
		padding: 0;

	}
	.mfp-content h3, p, h4 {
		padding-left: 5px;
		padding-right:5px;
		padding-bottom:5px;
	}
	.mfp-content p {
		padding-top:10px;
	}
	.mfp-close {
		position: fixed;
  		right: 38px;
  	}
	.text_carousel{
		width: 100%;
		float: none;
		margin: 0;
	}
	.mfp-container{
		width: 100%;
		left: 0;
		padding: 0;
	}
	.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content{
		  width: 100%;
	}

}