/*.h320*/
/*.h480*/
/*.h768*/
/*.h1080*/
/*.h1600*/

/**
 * Large screen
 */
.h1600 #content
{
  padding-top: 10px;
  height: 585px;
}

.h1600 #content .carousel 
{
  height: 845px;
}

.h1600 #wrapper > li.one 
{
  /*width: 760px;*/
  width: 893px;
  margin-right: 63px;
}

.h1600 #wrapper > li.two 
{
  width: 283px;
  margin-right: 26px; /* 63 - 37 */
}

.h1600 #wrapper > li.three 
{
  width: 283px;
  margin-right: 26px; /* 63 - 37 */
}

.h1600 #wrapper > li.four 
{
  width: 618px;
  margin-right: 63px;
}

.h1600 #wrapper > li.four li 
{
  /*clear: both;
    display: block;*/
}

.h1600 #wrapper > li.four li:last-child 
{
  /*float: right;*/
}

/**
 * Standart screen(ex., notebook)
 * By default
 */
/* ... */

/**
 * Media screen (tablets etc)
 */
.h480 #content
{
  padding-top: 10px;
  height: 475px;
}

.h480 #content .carousel 
{
  height: 375px;
}

.h480 #wrapper > li.one 
{
  width: 760px;
  margin-right: 63px;
}

.h480 #wrapper > li.one .title 
{
  display: none;
}

.h480 #wrapper > li.simple-one 
{
  padding-top: 100px;
}

.h480 #wrapper > li.two 
{
  width: 566px;
  margin-right: 26px; /* 63 - 37 */
  padding-top: 100px;
}

.h480 #wrapper > li.three 
{
  width: 849px;
  margin-right: 26px; /* 63 - 37 */
  padding-top: 100px;
}

.h480 #wrapper > li.four 
{
  width: 1132px;
  margin-right: 26px;
  padding-top: 100px;
}

/**
 * Small screen
 */
.h320 .mfp-content 
{
  padding: 0;
}

.h320 .mfp-content h3, .h320 p, .h320 h4 
{
  padding-left: 5px;
  padding-right:5px;
  padding-bottom:5px;
}

.h320 .mfp-content p 
{
  padding-top:10px;
}

.h320 .mfp-close 
{
  position: fixed;
  right: 38px;
}

.h320 .text_carousel
{
  width: 100%;
  float: none;
  margin: 0;
}

.h320 .mfp-container
{
  width: 100%;
  left: 0;
  padding: 0;
}

.h320 .mfp-inline-holder .mfp-content, .h320 .mfp-ajax-holder .mfp-content
{
    width: 100%;
}
