@media (max-width: 800px) {
	#header-languages {
		right: 15px;
		bottom: 20px;
	}

	#header-languages li {
		padding: 15px;
	}

	#header-title {
		font-size: 16px;
	}
	
	#header-languages {
		right: 15px;
		bottom: 20px;
	}

	#header-languages li {
		padding: 15px;
	}
}