#nav-prev, #nav-next {
	cursor: pointer;
	bottom: 25px;
	background-image: url(/assets/img/blue-arrow.png);
	width: 64px;
	height: 71px;
}

#nav-prev {
	position: fixed;
	left: 25px;
	background-position: 0px 0px;
}

#nav-next {
	position: fixed;
	right: 25px;
	background-position: 64px 0px;
}