.scroller{
    position: fixed;
    bottom: 0;    
    left: 0;     
    right: 0;    
    height: 9px;
}
.scroller>div{
    height: 100%;
    background: #aaa;
    width: 0%;
    opacity: 0.6;
}
.scroller:hover > div{
    background: #aaa;
    opacity: 1;
}