.bg-total #header-languages li {
	background: #34373B;
}

.bg-total #header-languages li.active, 
  .bg-total #header-languages li:hover, 
  .bg-total #header-languages li:active {
  	background: #0F1113;
}

.bg-total #content {
	border-top: 2px solid #34373B;
}

.bg-total #wrapper p.big-title {
	background: #34373B;
}

.bg-total #wrapper > li li span {
	background: #34373B;
}

.bg-total #wrapper > li li {
	background: #34373B;
}

.bg-total #nav-prev,
  .bg-total #nav-next {
	background-image: url(/assets/img/total-arrow.png);
}