.bg-red #header-languages li {
	background: #A92F27;
}

.bg-red #header-languages li.active, 
  .bg-red #header-languages li:hover, 
  .bg-red #header-languages li:active {
  	background: #8A1A13;
}

.bg-red #content {
	border-top: 2px solid #A92F27;
}

.bg-red #wrapper p.big-title {
	background: #A92F27;
}

.bg-red #wrapper > li li span {
	background: #A92F27;
}

.bg-red #wrapper > li li {
	background: #A92F27;
}

.bg-red #nav-prev,
  .bg-red #nav-next {
	background-image: url(/assets/img/red-arrow.png);
}